/* CSS Template by WAS #387866, you may edit or sell this template (premade or comms, idc) BUT you may NOT remove the Credit on the breadcrumb or this text unless your coding becomes unrecognizable from mine. If you have any Questions about this Template feel free to PM WAS on Lioden! :3 */
/* FONTS - Import from Google Fonts */
 
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
/* Background & Description Color */
body {
  background: url('https://i.img-den.com/1046/download__6_.jpe') center center fixed !important;
  color: #ffffff !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

/* Lioden Logo Replacement */
div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
  content: url("https://i.img-den.com/1046/Untitled430_20260924205551.png") !important;
  width: 223px !important;
  height: 145px !important;
    position: relative;
    left: 10%;
    top: -110%;
}

/* Ignore */
.col-md-9 {
  background: transparent!important;
  border-right: none
}

/* Width of the Scrollbar on the Right */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #aa6ab8 !important;
  width: 15px !important;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #90559d;
  border-radius: 0px !important;
  width: 15px !important;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #90559d;
  border-radius: 0px !important;
}

/* Container behind Everything */
.container.main {
  background:rgba(96, 51, 125,.8) !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
    border: dotted #d23ae0;
  border-radius: 0px;
}

/* Big Bar (Den, Crossroads, Hoard, etc) */
.navbar {
	background: rgba(96, 51, 125,.8) !important;
	border: none !important;		
}

/* Big Bar Text Stuff */
.navbar li a {
	color: #d23ae0 !important;
	font-size: 20px !important;
	transition: 0.5s !important;
	font-family: "Mystery Quest", cursive !important;
}

/* Big Bar on Hover */
.navbar li a:hover, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
  background: none !important;
	color: #94908d !important;
	border-radius: 10px !important;
    border: none !important;
}


/* Bar at the Top (Welcome back, ___) */
.topbar {
  background: rgba(96, 51, 125,.8) !important;
  color: #f0f0f0 !important;
  border: none;
}

/* Comment Box */
#commentBox {
 background: rgba(96, 51, 125,.65) !important;
  color: #fff !important;
  border: solid !important;
border-color: #d23ae0 !important;
  border-radius: 8px !important;
    font-family: "Mystery Quest", cursive !important;
}

/* "Post" Button under the Comment Box */
#postComment {
  background: #60337d !important;
 font-family: "Mystery Quest", cursive !important;
}

/* Small Bar below Navbar (Home / ___s Den) */
.breadcrumb {
  background: rgba(96, 51, 125,.4) !important;
  border: none;
  color: #d23ae0 !important;
  border-radius: 4px !important;
}


/* Color of the ___s Den Text IN the breadcrumb */
.breadcrumb .active {
  color: #d23ae0 !important;
    font-family: "Mystery Quest", cursive !important;
}

/* Credits */
.breadcrumb::after {
  content: "Template by WAS #387866 || CSS by Sera #530814";
  color: #d23ae0 !important;
  position: absolute;
  right: 13%;
  z-index: 100
      font-family: "Mystery Quest", cursive !important; 
}

/* Adjusting the Credits position for smaller Screens */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .breadcrumb::after {
    right: 20%
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .breadcrumb::after {
    right: 20%
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumb::after {
    right: 22%
  }
}


/* Bookmark Button*/
input.floatright,
input.floatright:hover {
 background: rgba(57, 21, 79,.8) !important;
  border: solid !important;
  border-radius: 0px !important;
  color: #d23ae0 !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Switch Account Button*/
button.button,
button.button:hover {
  background: rgba(57, 21, 79,0.6) !important;
  border: none !important;
  border-radius: 3px !important;
  text-shadow: none !important;
  color: #d23ae0 !important;
    font-family: "Mystery Quest", cursive !important;
}

/* Warnings (Lions leaving soon, Hungry Lions, Not Nested,came back from Patrolling, finished Hunting) */
.alert,
.alert-warning,
.alert-danger {
  background: rgba(96, 51, 125,01) !important;
  border: none !important;
  color: #d23ae0 !important;
  border-radius: 4px !important;
    font-family: "Mystery Quest", cursive !important;
}

/*Header 1 ('___'s Den) */
h1 {
  color: #d23ae0 !important;
   text-shadow:-2px -2px 2px #000  !important;
  font-size: 43px !important;
  text-align: center !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Small Header (King Dynasty, Pride Dynasty, Achievements, etc) */
h3 {
  color:rgba(232, 102, 232,.8) !important;
     text-shadow:-2px -2px 2px #8a2991  !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Red Notification Button when you get a New Message */
.badge {
  background: rgba(57, 21, 79,.8) !important;
  color: #d23ae0 !important;
  font-size: 11px;
  text-align: center !important;
  padding: 3px 7px 3px 5px !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Panels on the Right */
.panel {
  background: rgba(57, 21, 79,.8) !important;
    color: #d390e2 !important;
box-shadow: none !important;
border: none !important;
border-radius: 4px !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Panel Headers */
.sidebar h3 {
  color: #d23ae0 !important;
  font-size: 26px !important;
  font-family: "Crimson Text", serif !important;
    font-family: "Mystery Quest", cursive !important;
}


/* Even Numbered Messages */
.s-chat-message:nth-child(even) {
  background: rgba(218,217,215,0.2) !important;
  color: #d23ae0 !important;
  border: none !important
      font-family: "Mystery Quest", cursive !important;
}


/* Odd Numbered Messages */
.s-chat-message:nth-child(odd)  {
  background: rgba(195,194,190,0.2) !important;
  color: #d23ae0 !important;
  border: none !important
      font-family: "Mystery Quest", cursive !important;
}


/* Pinned Message */
.s-chat-message__pinned {
  background: rgba(195,194,190,0.3) !important;
  color: #d23ae0 !important;
  border: none !important
      font-family: "Mystery Quest", cursive !important;
}


/* Pings (@ messages) */
#chatMessageList[data-pings="enabled"] .s-chat-message_mention {
  background-color: rgba(36, 10, 52,0.4) !important;
  border-left: none;
    font-family: "Mystery Quest", cursive !important;
}

/* Timestamps */
.s-chat-message_timestamp {
  color: #d23ae0 !important;
    font-family: "Mystery Quest", cursive !important;
}

/* BG of Chatbox */
html.nolayout body {
background: rgba(57, 21, 79,.8) !important
}

/* Container BEHIND Edit your Details*/
#accountoptionspanel .left,
#changepasswordpanel .b,
#editdetailspanel .b,
#sparring,
#allies .left,
#editdetailspanel .right {
  background: rgba(148,144,141,0.2) !important
}


/* Channel Button ie. Main, Sales */
button#label_currentChannel {
  background: rgba(148,144,141,0.3) !important;
  color: #d23ae0 !important;
  border: none !important
      font-family: "Mystery Quest", cursive !important;
}


/* King Image */
#lion_image {
  overflow: hidden;
  border-radius: 8% !important;
}


/* Player Image */
table#player img {
  border-radius: 8% !important;
}


/* Color behind "Level, Stats, Branch, Territory" etc. */
.inner-table .left {
  background: rgba(218,217,215,0.2) !important;
  color: #fff !important;
  border-radius: 0px !important;
  border-top-left-radius: 5px 5px !important;
  border-bottom-left-radius: 5px 5px !important;
     font-family: "Mystery Quest", cursive !important;
}


/* Color behind the number of all of the things above */
.inner-table .right {
  background: rgba(195,194,190,0.2) !important;
  color: #fff !important;
  border-radius: 0px !important;
  border-top-right-radius: 5px 5px !important;
  border-bottom-right-radius: 5px 5px !important;
     font-family: "Mystery Quest", cursive !important;
}


/* Area BEHIND the Above Mentioned */
td.right, #about .right > td {
  background: rgba(148,144,141,0.1) !important;
  color: #f0f0f0 !important;
  border-radius: opx !important;
}

/* Kings Title */
.xlarge.b {
    color: #f0f0f0 !important; 
     font-family: "Mystery Quest", cursive !important;
}


/* Ignore */
.right_odd, #clans .left {
  background: none !important;
    border: none !important;
      visibility: hidden !important;
}


/* Ignore */
.table {
  background: transparent !important;
    border: none !important;
}


/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */
.cave-grid,
.mound-grid {
  background: rgba(218,217,215,0.1) !important;
  border: none !important;
  border-radius: 3px !important;
  color: #f0f0f0 !important;
     font-family: "Mystery Quest", cursive !important;
}


/* Feed All, Play All */
.feature {
  background: rgba(218,217,215,0.1) !important;
  color: #f0f0f0 !important;
  border: none !important;
  border-radius: 3px !important
       font-family: "Mystery Quest", cursive !important;
}

/* Color behind King Dynasty, Pride Dynasty, etc */
.feature,
div.left {
  background: rgba(218,217,215,0.1) !important;
  border: none;
  border-radius: 0px !important
       font-family: "Mystery Quest", cursive !important;
}


/* Input Areas (Edit your Details, Comment etc) */
input,
select,
textarea,
select[disabled] {
  background: rgba(195,194,190,0.3) !important;
  border: none !important;
  border-radius: 0px !important;
  color: #f0f0f0 !important;
  box-shadow: none !important;
  text-shadow: none !important
       font-family: "Mystery Quest", cursive !important;
}


/* Account options Panel  (Friend Requests Toggles, etc.) */
.item-header {
  background: rgba(148,144,141,0.3) !important;
  color: #f0f0f0 !important;
  border-radius: 0px !important;
     font-family: "Mystery Quest", cursive !important;
}

/* Area BELOW the Above mentioned */
.item {
  background: rgba(195,194,190,0.1) !important;
  border: none !important;
  border-radius: 0px !important
}


/* Account Options on/off Toggle Switch */
div.slider.round  {
  background: #fff !important;
     font-family: "Mystery Quest", cursive !important;
}


/* Circle Part */
div.slider.round::before {
  background: #dad9d7 !important
}


/* Link Color */
a:link,
a:visited {
  color: #f553ca !important;
  font-weight: normal;
}


/* Link Color on Hover */
a:hover {
  color: #ff9ce4!important;
}

/* bar behind Lions with Mutation, Kings Name etc */
.top,
.bottom,
th {
  background: rgba(195,194,190,0.2) !important;
  color: #f0f0f0 !important;
  border-radius: 0px
       font-family: "Mystery Quest", cursive !important;
}


/* Background of The 4 Bars in Panels (Energy, Hunger, EXP and Imp) */
.progress {
  background: rgba(195,194,190,0.4) !important;
  border: none;
  color: #f0f0f0 !important;
  border-radius: 2px !important
}

/* Colored Part of the Above mentioned*/
.progress-bar {
  background: rgba(49,48,46,0.9) !important;
  color: #f0f0f0 !important;
  border-radius: 0px !important;
}

/* Color of the Above mentioned */
.progress div {
  color: #f0f0f0 !important
}


/* Pregnant Lionesses */
img[src$="nestingbanner.png"] {
  background: url('https://static.lioden.com/images/dynamic/backgrounds/graveyardnight.png');
  height: 60px !important;
  width 260px !important;
  padding-left: 100%;
  background-size: 100%;
}

/* Pride Overview */
img[src$="prideoverviewbanner.png"] {
  background: url('https://static.lioden.com/images/dynamic/backgrounds/ChampionshipsNightBG.png') !important;
  padding-left: 100%;
  background-size: 100%;
  background-repeat: no-repeat !important;
  background-position: 0% 0% !important;
  height: 60px !important;
  width 260px !important;
}

/* Unsorted */
img[src$="unsortedlionsbanner.png"] {
  background: url('https://static.lioden.com/images/dynamic/backgrounds/desertcave.png') !important;
  height: 60px !important;
  width 260px !important;
  padding-left: 100%;
  background-position: 0% 0% !important;
  background-size: 100%;
}

/* Caves */
img[src$="cavedefault.jpg"] {
  background: url('https://i.img-den.com/1046/gengarevo2000.jpg') !important;
  padding-left: 100%;
  height: 160px !important;
  background-position: 0% 0% !important;
  width 240px !important;
}


/* Mounds */
.mound-grid img {
  background: url("https://static.lioden.com/images/dynamic/backgrounds/nightmares.png");
  width: 0;
  height: 0;
  padding-top: 92px !important;
  padding-right: 130px;
  background-size: 100% !important;
    background-position: 50% 60% !important;
}


/* SB Icon */
img[src$="silver.png"] {
  content: url('https://i.img-den.com/1046/Untitled432_20260924212148.png') !important;
  width: 30px !important;
}

/* GB Icon */
img[src$="gold.png"] {
  content: url('https://i.img-den.com/1046/Untitled432_20260924212145.png') !important;
  width: 30px !important;
}

/* pagedoll */
.container.main::after {
	 content: "";
    background-image: url('https://i.img-den.com/1046/Untitled426_20260924204506.png');
    background-size: cover;
    position: fixed;
	display: block;
    height:180px;
    width:180px;
	right:-0px;
    bottom: 1rem;
	z-index: 1;
	pointer-events: none;
}

/* Copyright, Terms of Service, CoC, etc. */
div.container.footer.center.white.visible-lg.visible-md.visible-sm,
div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
  color: #f0f0f0 !important;
  text-shadow: none !important
       font-family: "Mystery Quest", cursive !important;
}


 /*lastly, this part makes the CSS Mobile friendly*/
@media only screen and (max-width: 767px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}


@media only screen and (max-width: 767px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}


@media only screen and (max-width: 991px) and (min-width: 768px) {
  display: block !important;
}


@media only screen and (min-width: 1200px) {
  div.quote {
    width: 790px;
  }
